a,
a:hover {
  text-decoration: none;
}

fieldset {
  border: 1px solid lightgray;
  border-radius: 8px;
  margin: 5px 0 0 20px;
}

fieldset legend {
  color: gray;
}

main {
  padding-top: 5px;
}

p {
  margin: 0 !important;
}

/* Post */
.post {
  margin-top: 5px;
  background-color: #f1f1f1 !important;
}

.post button {
  padding: 6px !important;
}

/* Comment */
.comment {
  margin: 5px 0 0 20px;
  background-color: #f1f1f1 !important;
}

.comment button {
  padding: 6px !important;
}

/* Header */
.title-logo {
  height: 32px;
}

/* Footer */
.footer {
  font-size: 12px;
  margin-top: 10px;
  text-align: center;
}

.social a {
  margin: 0 1em 0 0;
}

.social a:last-of-type {
  margin: 0;
}

/* Material UI */
.grow {
  flex-grow: 1;
}

.card {
  padding: 3px !important;
}
