a {
  color: #000;
  text-decoration: none;
}

a:hover {
  color: #000;
  text-decoration: none;
}

main {
  padding-top: 1em;
}

p {
  margin: 0 !important;
}

/* Post */
.post {
  margin-top: 5px;
  background-color: #e3f2fd !important;
}

.post button {
  padding: 6px !important;
}

.post-title {
  padding: 3px !important;
}

.post-content {
  padding: 3px !important;
}

.post-actions {
  padding: 3px !important;
}

/* Header */
.title-logo {
  height: 32px;
}

/* Footer */
.footer {
  font-size: 12px;
  margin-top: 10px;
  text-align: center;
}

.social a {
  margin: 0 1em 0 0;
}

.social a:last-of-type {
  margin: 0;
}

/* Material UI */
.grow {
  flex-grow: 1;
}
