body {
  font-family: 'Titillium Web', sans-serif;
  font-size: 16px;
  font-weight: 400;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h3 {
  font-size: 18px;
  font-weight: 700;
}

a {
  color: #2d3c49;
}

a:hover {
  color: #2d3c49;
  text-decoration: none;
}

.main {
  margin-top: 80px;
}

/* Dashbord */
.dashbord-filter {
  padding: 5px;
}

.dashbord-filter ul {
  margin: 0;
  padding: 5px 0 0;
}

.dashbord-filter li {
  display: inline;
  list-style-type: none;
  padding-right: 10px;
  text-decoration: none;
}

.dashbord-list ul {
  padding: 0;
}

.dashbord-list li {
  list-style-type: none;
  padding: 1px;
  text-decoration: none;
}

.post {
  background-color: #f8f9fa;
  border-radius: 10px;
}

.post p {
  margin-bottom: 2px;
}

.separator {
  margin-right: 30px !important;
}

.post-indicators span,
.post-indicators svg {
  margin-right: 2px;
}

.image-button {
  background: transparent;
  border: none;
}

.text-margin-right {
  margin-right: 3px;
}

/* Header */
.header-text {
  font-size: 24px;
}

.title-logo {
  height: 50px;
}

.navbar-nav li {
  padding-right: 1em;
}

.navbar-nav li:last-of-type {
  padding-right: 0;
}

/* Footer */
.footer-text {
  font-size: 12px;
}

.social a {
  margin: 0 1em 0 0;
}

.social a:last-of-type {
  margin: 0;
}
